<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>예약 및 결제</title>
    <link rel="stylesheet" th:href="@{/css/reservation/reservation.css}" />
    <link rel="icon" type="image/ico" th:href="@{/img/icon/favicon.ico}">
    <script defer th:src="@{/js/reservation/reservation.js}"></script>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <a href="/" class="logo-con">
        <img th:src="@{/img/logo/logo.svg}" alt="" />
      </a>
      <p class="title">예약/결제</p>
    </header>
    <div class="main-container">
      <div class="main-align">
        <div class="re-con">
          <p class="e-name">[[${dto.name}]]</p>
          <div class="info-con">
            <div class="people-con">
              <div class="min-con">
                <p class="min">최소인원</p>
                <p class="min-value">1명</p>
              </div>
              <div class="max-con">
                <p class="max">최대인원</p>
                <p class="max-value">[[${dto.count}]]명</p>
              </div>
            </div>
            <div class="name-con">
              <p class="name">예약자명</p>
              <p class="name-value">[[${user.name}]]</p>
            </div>
            <div class="tel-con">
              <p class="tel">예약자번호</p>
              <p class="tel-value">[[${user.tel}]]</p>
            </div>
            <div class="pay-con">
              <p class="pay">체험비</p>
              <p th:text="${#numbers.formatInteger(dto.price, 3, 'COMMA')}" class="pay-value"></p>
            </div>
          </div>
          <form id="form" th:action="@{/reservation}" th:method="post" class="select-con">
            <div class="date-people-con">
              <div class="sel-date-con">
                <input name="date" type="date" class="input-date" th:min="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" />
                <button class="btn-sel-date">체험일 선택</button>
              </div>
              <div class="sel-people-con">
                <p class="sel-people">인원수</p>
                <div class="sel-people-align">
                  <button type="button" class="btn-minus none">-</button>
                  <input
                    readonly
                    type="number"
                    class="input-people"
                    name="count"
                    value="1"
                    th:max="${dto.count}"
                  />
                  <button type="button" class="btn-plus none">+</button>
                </div>
              </div>
            </div>
            <div class="total-con">
              <p class="total">총 합계</p>
              <p class="total-value"><span>[[${#numbers.formatInteger(dto.price, 3, 'COMMA')}]]</span>원</p>
            </div>
            <div class="method-con">
              <p class="method">결제수단</p>
              <div class="method-btn-con">
                <div class="method-btn-align">
                  <input
                    type="radio"
                    name="pay"
                    value="카드결제"
                    id="method1"
                    class="input-method1"
                  />
                  <label for="method1">카드결제</label>
                  <input
                    type="radio"
                    name="pay"
                    value="무통장입금"
                    id="method2"
                    class="input-method2"
                  />
                  <label for="method2">무통장입금</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="btn-con">
          <button type="button" class="btn-re">예약하기</button>
        </div>
      </div>
    </div>
  </body>
</html>
